.navbar {
  height: 64px;
  display: flex;
  justify-content: space-between; 
  align-items: left;
}

.ant-menu {
  background-color: transparent;
  border-bottom: none;
  color: white;
}

.nav-header {
  border-bottom: 0;
  padding: 0 4px 0 24px;
}

.user-container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 20px;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: 500;
}
  
.logo a {
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
}

.rightMenu {
  display: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.logout {
  color: #1677ff;
}

.logout:hover {
  color: #3889fb;
  cursor: pointer;
}



@media (max-width: 767px) {
  .no-display {
    display: none;
  }

  .mobile-flex {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 767px) {
  .mobile-no-display {
    display: block;
  }

  .mobile-display {
    display: none;
  }
}


@media (max-width: 766px) {
  .rightMenu {
    display: inline;
  }

  .menuButton {
    display: block;
    margin-right: 10px;
    color: white;
  }

  .mobile-no-display {
    display: none;
  }


  .subMenuIcon{
    font-size:150%;
  }

  .mobile-display {
    display: block;
  }


  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

}

.mobile-search-container {
  width:100%;
  background-color: '#fff';
  min-height: 50px;
}
.searchbar{
  margin-top: 15px;
}